@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using BulkyBookWeb.Models

@{
    ViewData["Title"] = "Login";
}

<!DOCTYPE html>
<html>
<head>
    <title>Login.gov resulting data:</title>
</head>
<body>

    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                    
                <h3>First Name: @TempData["GivenName"]</h3>
                <h3>Last Name: @TempData["FamilyName"]</h3>
                <h3>Email: @TempData["Email"]</h3>
                <h3>Phone: @TempData["Phone"]</h3>
                <h3>Phone Verified?: @TempData["PhoneVerified"]</h3>
                <h3>Iss: @TempData["Iss"]</h3>
                <h3>Social Security Number: @TempData["SSN"]</h3>
                <p>bottom text</p>

            </div>
        </div>
    </div>

</body>

</html>
